* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.ol-control {
  display: none !important;
}

.map-container {
  height: calc(100vh - 53px);
  width: 100vw;
  overflow: hidden;
}

.layout-menu-action {
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  top: 65px;
  right: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
}